@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FF";
  src: url("/fonts/FF.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FF";
  src: url("/fonts/FF.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
  color: white;
  outline: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

::selection {
  @apply text-neutral-900 bg-primary;
}

.menu-container {
  @apply fixed top-0 left-0 w-full md:p-5 lg:p-[1.25vw] z-50 flex items-center justify-between mix-blend-difference pointer-events-none;
}

.mobile-menu-container {
  @apply mix-blend-normal px-4 py-6;
}

.menu {
  @apply pointer-events-none size-16 lg:size-[5vw] relative rounded-full after:block after:w-[40%] after:bg-white after:absolute after:top-[45%] after:left-1/2 after:-translate-x-1/2 after:h-[2px] after:m-auto before:block before:w-[40%] before:bg-white before:absolute before:top-[55%] before:left-1/2 before:-translate-x-1/2 before:h-[2px] before:m-auto after:transition before:transition before:z-[1];
}

.mobile-menu {
  @apply bg-primary flex justify-center items-center overflow-hidden;
}

.menu-active {
  @apply after:rotate-45 before:-rotate-45 after:top-1/2 before:top-1/2;
}

.inner-menu {
  @apply w-full h-full hover:scale-[3] pointer-events-auto;
}

.gray-mark {
  background: transparent;
  color: #a3a3a3;
  background: -webkit-linear-gradient(to right, #8b8b8b, #a3a3a3);
  background: linear-gradient(to right, #8b8b8b, #a3a3a3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mark {
  background: transparent;
  color: #56ccf2;
  background: -webkit-linear-gradient(to top, #5cd6ff, #b6edff);
  background: linear-gradient(to top, #5cd6ff, #b6edff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-mark {
  background: transparent;
  color: #32a2c7;
  background: -webkit-linear-gradient(to top, #32a2c7, #5cd6ff);
  background: linear-gradient(to top, #32a2c7, #5cd6ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  @apply text-[12vw] md:text-[7vw] font-black tracking-tighter uppercase leading-[0.8];
}

.text {
  @apply font-black tracking-tighter uppercase leading-[0.8];
}

.button-container:hover .cube,
.button-container:focus .cube {
  transform: rotateX(-90deg);
}

.h-sm-screen {
  height: 100vh;
  height: 100svh;
}

.image-container__1 {
  top: 0%;
  left: 0%;
  height: 5rem;
}

.image-container__2 {
  top: 30%;
  left: 5%;
  height: 3rem;
}

.image-container__3 {
  top: 0%;
  left: 7%;
  height: 3rem;
}

.image-container__4 {
  top: 100%;
  left: 50%;
  height: 4rem;
}

.image-container__5 {
  top: 0%;
  left: 1%;
  height: 5rem;
}

.image-container__6 {
  top: 10%;
  left: 75%;
  height: 4rem;
}

.image-container__7 {
  top: 70%;
  left: 4%;
  height: 6rem;
}

.image-container__8 {
  top: 10%;
  left: 60%;
  height: 6rem;
}

.image-container__9 {
  top: 80%;
  left: 3%;
  height: 6rem;
}

.image-container__10 {
  top: 40%;
  left: 100%;
  height: 7rem;
}

.image-container__11 {
  top: 40%;
  right: 5%;
  height: 8rem;
}

.image-container__12 {
  top: 1%;
  left: 35%;
  height: 3rem;
}

.image-container__13 {
  top: 80%;
  left: 85%;
  height: 4rem;
}

@media (min-width: 1024px) {
  .image-container__1 {
    height: 4vw;
  }

  .image-container__2 {
    height: 3vw;
  }

  .image-container__3 {
    height: 3vw;
  }

  .image-container__4 {
    height: 3vw;
  }

  .image-container__5 {
    height: 4vw;
  }

  .image-container__6 {
    height: 3.5vw;
  }

  .image-container__7 {
    height: 5vw;
  }

  .image-container__8 {
    height: 7vw;
  }

  .image-container__9 {
    height: 5vw;
  }

  .image-container__10 {
    height: 6vw;
  }

  .image-container__11 {
    height: 7vw;
  }

  .image-container__12 {
    height: 3vw;
  }

  .image-container__13 {
    height: 3.5vw;
  }
}
