@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* Hide scrollbar for IE, Edge and Firefox */
  /* -ms-overflow-style: none; 
  scrollbar-width: none;  */
  -webkit-tap-highlight-color: transparent;
  color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* ::-webkit-scrollbar {
  display: none;
} */

body {
  background: #000;
}

::selection {
  @apply text-black bg-pink;
}

.max-w {
  @apply max-w-screen-2xl mx-auto;
}

.mark {
  @apply bg-transparent text-pink;
}

.gray-mark {
  @apply bg-transparent text-gray-400;
}

.title {
  @apply text-[12vw] md:text-[7vw] font-black tracking-tighter font-sans uppercase leading-[0.8];
}

.text {
  @apply font-black tracking-tighter font-sans uppercase leading-[0.8];
}

.slide-up-animation {
  @apply relative inline-flex overflow-hidden;
}

.button-container:hover .cube {
  transform: rotateX(-90deg);
}

.image-container__1 {
  top: 0%;
  left: 0%;
  width: 5rem;
}

.image-container__2 {
  top: 30%;
  left: 5%;
  width: 3rem;
}

.image-container__3 {
  top: 0%;
  left: 7%;
  width: 3rem;
}

.image-container__4 {
  top: 100%;
  left: 50%;
  width: 4rem;
}

.image-container__5 {
  top: 0%;
  left: 1%;
  width: 5rem;
}

.image-container__6 {
  top: 10%;
  left: 75%;
  width: 4rem;
}

.image-container__7 {
  top: 70%;
  left: 4%;
  width: 6rem;
}

.image-container__8 {
  top: 10%;
  left: 60%;
  width: 6rem;
}

.image-container__9 {
  top: 80%;
  left: 3%;
  width: 6rem;
}

.image-container__10 {
  top: 40%;
  left: 100%;
  width: 7rem;
}

.image-container__11 {
  top: 40%;
  right: 5%;
  width: 8rem;
}

.image-container__12 {
  top: 1%;
  left: 35%;
  width: 3rem;
}

.image-container__13 {
  top: 80%;
  left: 85%;
  width: 4rem;
}
